.button--download {
  display: block;
  width: 280px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  border: 3px solid #ffffff;
  border-radius: 50px;
  background-color: transparent;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus {
    color: $hover-color;
    background-color: #ffffff;
  }

  &:active {
    color: $active-color;
  }
}

.button--like {
  width: 13px;
  height: 12px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  color: #d22856;

  &:hover,
  &:focus {
    color: #8d949b;
    outline: none;
  }

  &:active {
    color: #d22856;
  }
}

.button__range {
  padding: 0;
  margin: 0;
  text-align: center;
  color: #b5b9be;
  background-color: transparent;
  border: none;
  outline: none;

  &:hover .upload__icon,
  &:focus .upload__icon {
    color: #8d949b;
  }

  &:active .upload__icon {
    opacity: 0.3;
  }
}

.button__range--active {
  color: $logo-color--hover;
}

.button__upload {
  width: 100%;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  color: #d22856;
  border: 3px solid #d22856;
  border-radius: 25px;
  background-color: transparent;
  outline: none;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: #d22856;
  }

  &:active {
    color: #e06989;
    background-color: #d22856;
  }
}

.button__upload--cancel {
  color: #dddfe0;
  border: 3px solid #dddfe0;

  &:hover,
  &:focus {
    color: #c1c4c8;
    border-color: #b5b9be;
    background-color: transparent;
  }

  &:active {
    color: #c1c4c8;
    background-color: #b5b9be;
    border-color: #b5b9be;
  }
}

//radio

.button__radio {
  position: absolute;
  top: 20px;
  left: 0;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: 2px solid $border-color;
  border-radius: 50%;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 16px;
    height: 16px;
  }
}

.radio:hover+.button__radio,
.radio:focus+.button__radio {
  border-color: $border-color--hover;
}

.radio:active+.button__radio {
  border-color: $border-color--active;
}

.radio:checked+.button__radio::before {
  border-radius: 50%;
  background-color: $border-color--active;
}

//checkbox

.check__button {
  position: absolute;
  top: 20px;
  left: 0;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: 2px solid $border-color;
  border-radius: 2px;
  cursor: pointer;
}

.check:hover+.check__button,
.check:focus+.check__button {
  border-color: $border-color--hover;
}

.check:active+.check__button {
  border-color: $border-color--active;
}

.check:checked+.check__button::before,
.check:checked+.check__button::after {
  content: '';
  position: absolute;
  height: 2px;
  background-color: $border-color--active;
  border-radius: 3px;
}

.check:checked+.check__button::before {
  top: 17px;
  left: 12px;
  width: 22px;
  transform: rotate(-45deg);
}

.check:checked+.check__button::after {
  top: 20px;
  left: 6px;
  width: 12px;
  transform: rotate(45deg);
}

.button__form {
  width: 100%;
  height: 60px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  color: $font-color--menu;
  border: none;
  border-radius: 3px;
  background-color: $btn-form-color;
  outline: none;

  &:hover,
  &:focus {
    background-color: $btn-form-color--hover;
  }

  &:active {
    color: #61b98f;
  }
}

.button__alert {
  display: block;
  width: 100%;
  height: 65px;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: $font-color--menu;
  background-color: $btn-form-color;
  border: none;
  border-radius: 3px;
  outline: none;

  &:hover,
  &:focus {
    background-color: $btn-form-color--hover;
  }

  &:active {
    color: #61b98f;
  }
}

@media (min-width: $tablet-width) {

  .button--download {
    width: 300px;
  }

  .button__form {
    width: 50%;
  }

}

@media (min-width: $desctop-width) {

  .button--download {
    font-size: 21px;
  }

  .button__form {
    max-width: 300px;
  }

}
