.button--download {
  display: block;
  width: 280px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  border: 3px solid #ffffff;
  border-radius: 50px;
  background-color: transparent;
  cursor: pointer;
  outline: none;

  &:hover {
    color: $hover-color;
    background-color: #ffffff;
  }

  &:active {
    color: $active-color;
  }
}

.button--like {
  width: 13px;
  height: 12px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  color: #d22856;
}

@media (min-width: $tablet-width) {

  .button--download {
    width: 300px;
  }

}

@media (min-width: $desctop-width) {

  .button--download {
    font-size: 21px;
  }

}
