.form__sing-up {
  display: flex;
  flex-direction: column;
}

.form__header {
  padding: 0 45px;
  margin: 0;
  margin-top: 35px;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
}

.form__description {
  padding: 50px 20px 0;
  margin: 0 auto;
  text-align: center;
}

.form__section {
  position: relative;
  padding: 45px 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  border: none;
}

.form__section--user {
  order: 0;
  background-color: #ffffff;
}

.form__item {
  display: flex;
  flex-direction: column;
}

.form__label {
  padding: 10px 20px;
  text-transform: uppercase;
  color: $font-color--label;
}

.form__input {
  padding: 15px 20px;
  font-size: 18px;
  border: 2px solid $border-color;

  &::-webkit-input-placeholder {
    color: $font-color;
  }

  &:hover {
    border-color: $border-color--hover;
  }

  &:active {
    border-color: $border-color--active;
  }
}

.form__section--app {
  order: 3;
  padding-top: 110px;
  background-color: #f2f2f2;
}

.form__title--app {
  position: absolute;
  top: 45px;
  left: 50%;
  width: 180px;
  padding: 0;
  margin: 0;
  margin-left: -90px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $font-color--label;
}

.form__list--radio {
  padding: 0;
  margin: 0;
  list-style: none;
}

.form__list-item {
  position: relative;
  padding: 25px 0 25px 70px;
  font-size: 18px;
}

.form__radio-name {
  display: block;
  cursor: pointer;
}

.form__section--contacts {
  order: 2;
  padding-top: 0;
}

.form__title--contacts {
  visibility: hidden;
}

.form__item--phone,
.form__item--email {
  display: flex;
  flex-direction: column;
}

.form__input--contacts {
  order: 1;
}

.form__label {
  order: 0;
}

.form__section--achievements {
  order: 1;
  background-color: #f2f2f2;
  padding-top: 115px;
}

.form__title--achievements {
  position: absolute;
  top: 45px;
  left: 50%;
  width: 240px;
  padding: 0;
  margin: 0;
  margin-left: -120px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $font-color--label;
}

.form__list--check {
  padding: 0;
  margin: 0;
  list-style: none;
}

.form__check-name {
  cursor: pointer;
}

.form__section--description {
  order: 4;
  padding-top: 70px;
}

.form__title--description {
  position: absolute;
  top: 40px;
  left: 50%;
  width: 200px;
  padding: 0;
  margin: 0;
  margin-left: -100px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $font-color--label;
}

.form__textarea {
  padding: 20px;
  width: 100%;
  min-height: 200px;
  border: 2px solid $border-color;
  background-color: #ffffff;
  resize: none;

  &:hover {
    border-color: $border-color--hover;
  }

  &:active {
    border-color: $border-color--active;
  }

  &::-webkit-input-placeholder {
    font-size: 18px;
    color: $font-color;
  }
}

.form__section--bottom {
  order: 5;
  padding: 0 20px 20px;
}

.form__required {
  display: block;
  padding: 0;
  margin: 0;
  margin-top: 45px;
  text-align: center;
  text-transform: uppercase;
}

.form__required--asterisk {
  color: $font-color--label;
}

.form__required--desc {
  display: none;
}

@media (min-width: $tablet-width) {

  .form__header {
    max-width: 840px;
    margin: 0 auto;
    margin-top: 80px;
    font-size: 50px;
    line-height: 60px;
    font-weight: 300;
  }

  .form {
    max-width: 960px;
    padding: 0 20px;
    margin: 0 auto;
  }

  .form__description {
    max-width: 820px;
    padding: 100px 45px 25px;
    font-size: 18px;
    line-height: 30px;
  }

  .form__title {
    position: static;
    width: auto;
    padding: 0 25px;
  }

  .form__section {
    margin-bottom: 60px;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
  }

  .form__section--user {
    padding: 20px 0 0;
    border: none;
    margin-bottom: 35px;
  }

  .form__item-user {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 25px 0;
  }

  .form__input {
    width: 100%;
  }

  .form__section--app {
    order: 1;
    padding: 60px 60px 55px;
  }

  .form__section--contacts {
    order: 2;
    padding: 20px 60px 15px;
  }

  .form__title--contacts {
    visibility: visible;
    margin: 0 auto;
    text-transform: uppercase;
    color: $font-color--label;
  }

  .form__item--phone,
  .form__item--email {
    position: relative;
    padding: 10px 0;

    &::before {
      content: '';
      position: absolute;
      top: 10px;
      right: 0;
      width: 58px;
      height: 58px;
      background-color: #e5e5e5;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }

  .form__item--phone::before {
    background-image: url("../img/backgrounds/phone.svg");
    background-size: 20px 19px;
  }

  .form__item--email::before {
    background-image: url('../../img/backgrounds/email.svg');
    background-size: 18px 13px;
  }

  .form__input--contacts {
    order: 0;
  }

  .form__section--achievements {
    order: 3;
    padding: 60px 60px 50px;
  }

  .form__section--description {
    padding: 50px 60px;
    margin-bottom: 70px;
  }

  .form__section--bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 20px;
  }

  .form__required {
    margin: 0;
  }

}

@media (min-width: $desctop-width) {

  .form {
    padding: 0 10px;
  }

  .form__sing-up {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 0 35px;
  }

  .form__section--user {
    width: 50%;
    max-width: 435px;
    width: 50%;
    padding: 0;
    margin-bottom: 15px;
  }

  .form__item-user {
    padding: 15px 0 45px;
  }

  .form__section--app {
    width: 50%;
    max-width: 435px;
    padding: 35px 75px 30px;
  }

  .form__section--contacts {
    max-width: none;
    width: 100%;
  }

  .form__section--wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .form__item--phone,
  .form__item--email {
    display: block;
    width: 50%;
    max-width: 375px;
  }

  .form__section--achievements {
    width: 100%;
  }

  .form__list--check {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__list-item--check {
    width: 33.333%;
    padding-left: 55px;
  }

  .form__section--description {
    width: 100%;
  }

  .form__textarea {
    min-height: 125px;
  }

  .form__section--bottom {
    width: 100%;
    padding-bottom: 0;
  }

  .form__required--desc {
    display: inline;
  }

}
