.header {
  position: relative;
  width: 100%;
  min-height: 462px;
  padding: 0;
  margin: 0 auto;
  color: $font-color--menu;
  background-color: #283645;

  & .header__list {
    display: none;
  }
}

//TODO: закончить шапку для неосновных страниц
//в открытом состоянии
//без js

.header--second {
  min-height: 238px;

  &::after {
    display: none;
  }
}

.header__title {
  padding: 0;
  margin: 35px 0 0;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

.header--wrapper {
  background-color: rgba(0, 0, 0, 0.3);
}

.header__top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 20px;
}

.header__logo {
  display: block;
  width: 75px;
  margin: 0;
  cursor: pointer;

  &--mobile {
    fill: $logo-color;
  }

  &:hover .header__logo--mobile {
    fill: $logo-color--hover;
  }

  &:active .header__logo--mobile {
    fill: $logo-color--active;
  }
}

.header__logo--tablet {
  display: none;
}

.header__logo--desctop {
  display: none;
}

@media (min-width: $mobile-width) and (max-width: $mobile-width-only) {

  .header {
    background-image: url("../img/backgrounds/back--mobile.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 760px 462px;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 65px;
      width: 256px;
      height: 285px;
      background-image: url("../img/backgrounds/hand--mobile.png");
      background-repeat: no-repeat;
      background-size: 256px 285px;
    }
  }

  .header--open {
    min-height: 722px;
    background-position: center 260px;

    & .header__top {
      height: 69px;
      background-color: #283645;
      border-bottom: 1px solid #000000;
    }

    & .header__list {
      display: flex;
    }

  }

  .header--nojs {
    min-height: 722px;
    background-position: center 260px;

    & .header__top {
      height: 69px;
      background-color: #283645;
      border-bottom: 1px solid #000000;
    }

    & .header__toggle {
      display: none;
    }

    & .header__list {
      display: flex;
    }
  }

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {

    .header {
      background-image: url("../img/backgrounds/back--mobile@2x.jpg");

      &::after {
        background-image: url("../img/backgrounds/hand--mobile@2x.png");
      }
    }
  }
}

@media (min-width: $tablet-width) {

  .header__title {
    margin-top: 80px;
    font-size: 50px;
    line-height: 60px;
  }

  .header__top {
    padding-top: 30px;
    padding-bottom: 40px;
    align-items: flex-end;
  }

  .header__top--open {
    height: 110px;
  }

  .header__logo {
    width: 147px;
    height: 40px;

    &--tablet {
      fill: $logo-color;
    }

    &:hover .header__logo--tablet {
      fill: $logo-color--hover;
    }

    &:active .header__logo--tablet {
      fill: $logo-color--active;
    }
  }

  .header__logo--mobile {
    display: none;
  }

  .header__logo--tablet {
    display: block;
    width: 147px;
    height: 40px;
  }
}

@media (min-width: $tablet-width) and (max-width: $tablet-width-only) {

  .header {
    min-height: 729px;
    background-image: url("../img/backgrounds/back--tablet.jpg");
    background-size: 1200px 729px;
    background-position: center top;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 25px;
      width: 660px;
      height: 545px;
      background-image: url("../img/backgrounds/hand--tablet.png");
      background-repeat: no-repeat;
      background-size: 660px 545px;
    }
  }

  .header--second {
    min-height: 110px;
    height: 440px;
  }

  .header--open {
    min-height: 984px;
    background-position: center 260px;

    & .header__top {
      height: 110px;
      background-color: #283645;
    }

  }

  .header--nojs {
    min-height: 984px;
    background-position: center 260px;

    & .header__top {
      height: 110px;
      background-color: #283645;
      border-bottom: 1px solid #000000;
    }

    & .header__toggle {
      display: none;
    }

    & .header__list {
      display: flex;
    }
  }

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {

    .header {
      background-image: url("../img/backgrounds/back--tablet@2x.jpg");

      &::after {
        background-image: url("../img/backgrounds/hand--tablet@2x.png");
      }
    }
  }

}

@media (min-width: $desctop-width) {

  .header {
    max-width: 1200px;
    min-height: 853px;
    background-image: url("../img/backgrounds/back-intro--desc.jpg");
    background-size: 1200px auto;
    background-position: center top;

    &::after {
      display: none;
    }

    & .header__list {
      display: flex;
    }

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/backgrounds/back-intro--desc@2x.jpg");
    }
  }

  .header--second {
    min-height: 110px;
    height: 395px;
    background-image: url("../img/backgrounds/back-form--desktop.jpg");
    background-repeat: no-repeat;
    background-size: 1200px 395px;
    background-position: center top;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/backgrounds/back-form--desktop@2x.jpg");
    }
  }

  .header--wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .header__top {
    max-width: 960px;
    padding: 30px 10px 40px 10px;
  }

  .header__logo {

    &--desctop {
      display: block;
      width: 147px;
      height: 40px;
      fill: $logo-color;
      color: $logo-color--hover;
    }

    &:hover .header__logo--desctop {
      fill: $logo-color--hover;
    }

    &:active .header__logo--desctop {
      fill: $logo-color--active;
    }
  }

  .header__logo--tablet {
    display: none;
  }

}
