.page {
  position: relative;
  min-width: 320px;
  max-width: 1200px;
  padding: 0;
  margin: 0 auto;
  font-size: $font-size;
  line-height: 24px;
  color: $font-color;
  background-color: #ffffff;
}

.page__header {
  position: relative;
  margin: 0 auto;
}

.page__main {
  margin: 0 auto;
  max-width: 1200px;
}

.page__footer {
  width: 320px;
  margin: 0 auto;
}
