.table {
  width: 100%;
}

@media (min-width: $tablet-width) {

  .table__header--hidden {
    width: 23%;
    background-color: transparent;
  }

  .table__version {
    position: relative;
    width: 23%;
    padding: 15px 20px 10px;
    text-align: center;
    background-color: #283645;
    border: 2px solid #e5e5e5;

    &--hit {
      background-color: #283645;
      background-image: url("../../img/backgrounds/hit.svg");
      background-repeat: no-repeat;
    }
  }

  .table__header {
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    color: $font-color--menu;
  }

  .table__price {
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    color: $font-color--menu;
  }
}
