//screen width
$mobile-width: 20px;
$mobile-width-only: 659px;
$tablet-width: 660px;
$tablet-width-only: 959px;
$desctop-width: 960px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//fonts
$font-size: 14px;
$font-color: #283645;
$font-color--label: #d22856;
$font-color--menu: #ffffff;
