//screen width
$mobile-width: 20px;
$mobile-width-only: 659px;
$tablet-width: 660px;
$tablet-width-only: 959px;
$desctop-width: 960px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//fonts
$font-size: 14px;
$font-color: #283645;
$font-color--label: #d22856;
$font-color--menu: #ffffff;

$intro-background: #1d2631;
$hover-color: rgba(210, 40, 86, 1);
$active-color: rgba(210, 40, 86, 0.3);

$logo-color: rgba(255, 255, 255, 1);
$logo-color--hover: rgba(210, 40, 86, 1);
$logo-color--active: rgba(255, 255, 255, 0.3);

$slider-color: rgba(190, 194, 199, 1);
$slider-color--hover: #7e868f;
$slider-color--active: rgba(190, 194, 199, 0.3);
